<div class="sidenav">
  <div class="card">
    <div class="card-body">
      <h2>See tweets!</h2>
      <%= form_tag("/projects", method: 'get') do %>
        <div class="test mb-1">
          <%= text_field_tag :id, "", class: 'form-control mr-sm-2', placeholder: 'Search for tweets...' %>
        </div>
        <div class="test">
          <%= submit_tag("Search", class: "btn btn-dark") %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="scroll">
    <% @tweet.each do |tweet| %>
      <div class="card project-card mb-1">
        <div class="card-body">
          <%= tweet.full_text %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card mb-2">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span>Projects</span>
      <%= link_to 'New Project', new_project_path, class: "btn btn-dark" %>
    </h2>

    <% if @projects.empty? %>
      <div class="card project-card mb-3">
        <div class="card-body">
          <h2>No projects created yet!</h2>
        </div>
      </div>
    <% else %>
      <% @projects.each do |project| %>
        <%= link_to project, class: 'text-decoration-none' do %>
          <div class="card project-card mb-3">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <div class="project-status">
              <span class="badge badge-<%= project.badge_color %> mb-3">
              <%= project.status %>
              </span>
                  <span class='text-secondary'>
                <small>
                  <%= project.percent_complete %>% complete
                  (<%= project.total_complete %>/<%= project.total_tasks %> tasks) ||
                  <% if project.date_due.nil? %>
                    No due date has been set
                  <% else %>
                    Due at: <%= project.date_due.strftime("%d-%m-%Y") %>
                    <% if project.overdue %>
                      <h3 style="color: #730E15"> Overdue! </h3>
                    <% end %>
                  <% end %>
                </small>
              </span>
                </div>
                <div>
                  <%= link_to 'Edit', edit_project_path(project.id), class: 'btn btn-secondary' %>
                  <%= link_to 'Destroy', project, method: :delete, class: 'btn btn-dark', data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
              <h5 class="card-title text-dark"><b><%= project.name %></b></h5>
              <% if project.description.empty? %>
                <p>No description has been set</p>
              <% else %>
                <p><%= project.description %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h2>
      <h2>
        Want to improve your projects? Watch below!
      </h2>
    </h2>
    <div class="card project-card mb-3">
      <div class="card-body">
        <div class="embed-responsive embed-responsive-21by9">
          <%= @video %>
        </div>
      </div>
    </div>
  </div>
</div>
