<div class="container">
  <nav class="navbar navbar-dark bg-dark">

    <a class="navbar-brand" href="<%= projects_path %>">
      <h2>Progrance</h2>
    </a>

    <form class="form-inline">
      <%= form_tag("/projects", method: 'get') do %>
        <%= text_field_tag :q, "", class: 'form-control mr-sm-2', placeholder: 'Search for projects...' %>
        <%= submit_tag("Search", class: "btn btn-secondary") %>
      <% end %>
      <div class="test p-3">
        <% if user_signed_in? %>
          <%= link_to raw("<i class=\"fas fa-chess-pawn\"></i>"), edit_user_registration_path, :class => 'btn btn-dark' %>
          |
          <%= link_to raw("<i class=\"fas fa-sign-out-alt\"></i>"), destroy_user_session_path, method: :delete, :class => 'btn btn-dark' %>
        <% else %>
          <%= link_to raw("<i class=\"fas fa-user-plus\"></i>"), new_user_registration_path, :class => 'btn btn-dark' %> |
          <%= link_to raw("<i class=\"fas fa-sign-out-alt\"></i>"), new_user_session_path, :class => 'btn btn-dark' %>
        <% end %>
      </div>
    </form>
  </nav>
</div>